<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./create.css">
    <title>Cadastro</title>
</head>

<body>
    <form method="POST" action="create">    <!--  O atributo method especifica qual metodo https (get ou post) será usado com os dados do forms-->>
        <input type="text" name="nomeeee" id="nome" placeholder="Nome do livro">
        <input type="text" name="autorrrr" id="autor" placeholder="Nome do autor">
        <input type="text" name="descricaoooo" id="descricao" placeholder="Descricao">
        <button>Registrar</button>
    </form>
</body>

</html>