<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">
    <title>Gerenciamento de livros</title>
    <script src="https://kit.fontawesome.com/cb8a346264.js" crossorigin="anonymous"></script>
</head>

<body>
    <section id="card">
        <div class="title">
            <h1>Register book</h1>
            <h3>Enter book details</h3>
        </div>
        <form action="#"> 
            <input type="text" name="nome" id="nome" placeholder="Book's name">
            <input type="text" name="autor" id="autor" placeholder="Author's name">
            <input type="text" name="descricao" id="descricao" placeholder="Description">
            <input type="button" class="button" value="Register" onclick="register()">
        </form>
    </section>
    <section id="books">
        <h1>Registered Books</h1>
        <div class="book" data-titulo="Nome do livro" data-autor="Nome do autor" data-descricao="Descricao">
            <h3>Nome do livro</h3>
            <h4>Nome do autor</h4>
            <p>Descrição do livro</p>
            <button onclick=""><i class="fa-solid fa-pencil fa-lg"></i></button>
            <button onclick="deletar()"><i class="fa-solid fa-trash fa-lg"></i></button>
        </div>
    </section>
</body>

<!-- <body>
    <form action="#">
        <input type="text" name="nomeeee" id="nome" placeholder="Nome do livro">
        <input type="text" name="autorrrr" id="autor" placeholder="Nome do autor">
        <input type="text" name="descricaoooo" id="descricao" placeholder="Descricao">
        <button>Registrar</button>
    </form>
</body> -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./home.js"></script>
</html>